name: Test

on:
  push:
  pull_request:
    branches:
      - master

jobs:
  test:
    name: Build and Publish
    runs-on: ubuntu-latest

    permissions:
      contents: read
      pull-requests: read

    steps:
      - name: Checkout Code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Set up Go
        uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version-file: go.mod
          check-latest: false

      - name: Run GolangCI Lint
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
        with:
          version: v2.6

      - name: Test And Build
        env:
          CGO_ENABLED: 0
        run: |
          go vet ./...
          go test ./...
          go build -o certificator ./cmd/certificator
          go build -o certificatee ./cmd/certificatee
